#upcom-div,
#today-div { 
    margin: 0 1% 5% 0;
    border-radius: 10px;
    height: 200px;
    width: 250px;

    background-image: url("./bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: overlay;
    border: 0px solid transparent;
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(15, 15, 15, 0.2);

    position: relative;
    color: #fff;
    overflow: hidden; 
    transition: all 0.2s ease-in-out;
}

#upcom-div::before,
#today-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 160%;
    height: 130%;
    border-radius: 50%;
    background:  rgba(0, 213, 255, 0.397);
    transform: translate(100%, 90%); 
    transition: transform 0.5s ease; 
    z-index: 1; 
}

#upcom-div:hover::before,
#today-div:hover::before {
    transform: translate(-1%, 16%); 
}

#upcom-div:hover,
#today-div:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(9, 9, 121, 0.744);
    color : white;
    transform: scale(1.03);
}

#upcom-div > h3,
#upcom-div > p,
#today-div > h3,
#today-div > p {
    text-align: left;
    position: relative; 
    z-index: 2;
}

.delete-btn,
.update-btn {
    position: absolute;
    right: 10px;
    width: 80px;
    opacity: 0; 
    transition: opacity 0.3s; 
    z-index: 3; 
}

.delete-btn {
    bottom: 10px;
}

.delete-btn:hover {
    color: #fff;
    background-color: #661414;
}

.update-btn {
    bottom: 55px;
}

.update-btn:hover {
    background-color: #115837;
}

#upcom-div:hover .delete-btn,
#upcom-div:hover .update-btn,
#today-div:hover .delete-btn,
#today-div:hover .update-btn {
    opacity: 1; 
}
